<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1 ng-show="currentUser">Welcome, {{ currentUser.name }}!</h1>
  <p class="lead">

    You have just entered the realm of the mysterious temple.
  </p>
  <p><a class="btn btn-lg btn-danger" href="/end">Don't Press!</a></p>
</div>

<div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
</div>

<div class="footer">
  <p>Tell your deep dark secrets...</p>
</div>
